@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #576CBC;
}

.header-page {
    height: 60px;
    width: 100%;
    background-color: #0C134F;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
}

.header-page h1 {
    font-family: 'Poppins';
    font-weight: 400;
    color: black;
    margin-left: 5px;
    align-items: center;
}

.nav-bar {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-right: 5px;
}

.nav-bar li {
    font-family: 'Poppins';
    font-weight: 400;
    list-style: none;
}

.nav-bar li a {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
}

.nav-bar li a:hover {
    background-color: #7b96d3;
    border-color: white;
    transition: 1s;
}

.main-content {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-main-content {
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
    font-family: 'Poppins';
    font-weight: 400;
    display: block;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: row;
}
.article-list {
    width: 100%;
}

.article-post {
    border: 2px solid black;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    background-color: #f7f7f7;
}

.main-container {
    display: flex;
    justify-content: center;
    margin: 60px 0px 60px 0px;
    gap: 15px;
}

.footer-page {
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: 2px solid black;
    background-color: #0C134F;
    
}
